<a href="https://colab.research.google.com/github/vivianusdjpy/SUPERVISED-LEARNING-WITH-EDA/blob/master/Supervised_Learning_with_Exploratory_Data_Analysis_Mchezo_Pesa_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Supervised Learning with Exploratory Data Analysis - Exercise 1

## 1. Defining the Question

You have been recruited as a football analyst in a company - Mchezopesa Ltd and tasked to accomplish the task below.

A prediction result of a game between team 1 and team 2, based on who's home and who's away, and on whether or not the game is friendly (include rank in your training).

### a) Specifying the Question


> You just got some contract work with an Ecommerce company based in New York City that sells clothing online but they also have in-store style and clothing advice sessions. Customers come in to the store, have sessions/meetings with a personal stylist, then they can go home and order either on a mobile app or website for the clothes they want. The company is trying to decide whether to focus their efforts on their mobile app experience or their website. They've hired you on contract to help them figure it out!

### b) Defining the Metric for Success

### c) Understanding the context

### d) Recording the Experimental Design

### e) Data Relevance

## 2. Reading the Data

In [0]:
#loading the libraries
import pandas as pd
import numpy as np
import seaborn as sb
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [79]:
#loading the FiFa ranking dataset while specifying the datetime column
ranking = pd.read_csv('/content/fifa_ranking.csv', parse_dates=['rank_date'])
ranking.head(5)

   rank country_full  ... confederation  rank_date
0     1      Germany  ...          UEFA 1993-08-08
1     2        Italy  ...          UEFA 1993-08-08
2     3  Switzerland  ...          UEFA 1993-08-08
3     4       Sweden  ...          UEFA 1993-08-08
4     5    Argentina  ...      CONMEBOL 1993-08-08

[5 rows x 16 columns]

In [80]:
# Loading the FiFa results Dataset while specifying the datetime column
results = pd.read_csv('/content/results.csv',parse_dates=['date'])
results.head(5)
#

        date home_team away_team  ...     city   country neutral
0 1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1 1873-03-08   England  Scotland  ...   London   England   False
2 1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3 1875-03-06   England  Scotland  ...   London   England   False
4 1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

## 3. Cleaning the Data

FIFA Ranking dataset

In [81]:
# Determining the no. of records in our dataset and the 
ranking.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57793 entries, 0 to 57792
Data columns (total 16 columns):
rank                       57793 non-null int64
country_full               57793 non-null object
country_abrv               57793 non-null object
total_points               57793 non-null float64
previous_points            57793 non-null int64
rank_change                57793 non-null int64
cur_year_avg               57793 non-null float64
cur_year_avg_weighted      57793 non-null float64
last_year_avg              57793 non-null float64
last_year_avg_weighted     57793 non-null float64
two_year_ago_avg           57793 non-null float64
two_year_ago_weighted      57793 non-null float64
three_year_ago_avg         57793 non-null float64
three_year_ago_weighted    57793 non-null float64
confederation              57793 non-null object
rank_date                  57793 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(9), int64(3), object(3)
memory usage: 7.1+ MB

In [82]:
#checking for duplicates in the results column
ranking.duplicated().sum()

37

In [83]:
#dropping the duplicated columns in the ranking dataset
#we keep the first record of the duplicates
ranking.drop_duplicates(subset = None, keep = 'first', inplace = True)
ranking.shape

(57756, 16)

In [84]:
# Previewing the top of our dataset
ranking.head(5)

   rank country_full  ... confederation  rank_date
0     1      Germany  ...          UEFA 1993-08-08
1     2        Italy  ...          UEFA 1993-08-08
2     3  Switzerland  ...          UEFA 1993-08-08
3     4       Sweden  ...          UEFA 1993-08-08
4     5    Argentina  ...      CONMEBOL 1993-08-08

[5 rows x 16 columns]

In [85]:
# Previewing the bottom of our dataset
ranking.tail(5)

       rank country_full  ... confederation  rank_date
57788   206     Anguilla  ...      CONCACAF 2018-06-07
57789   206      Bahamas  ...      CONCACAF 2018-06-07
57790   206      Eritrea  ...           CAF 2018-06-07
57791   206      Somalia  ...           CAF 2018-06-07
57792   206        Tonga  ...           OFC 2018-06-07

[5 rows x 16 columns]

In [86]:
# Checking whether each column has an appropriate datatype
ranking['rank_date'].describe()

count                   57756
unique                    286
top       2017-04-06 00:00:00
freq                      211
first     1993-08-08 00:00:00
last      2018-06-07 00:00:00
Name: rank_date, dtype: object

In [87]:
#chosing the relevant columns to work with.
ranking_1 = ranking[["rank","country_full","confederation","rank_date"]]
ranking_1

       rank country_full confederation  rank_date
0         1      Germany          UEFA 1993-08-08
1         2        Italy          UEFA 1993-08-08
2         3  Switzerland          UEFA 1993-08-08
3         4       Sweden          UEFA 1993-08-08
4         5    Argentina      CONMEBOL 1993-08-08
...     ...          ...           ...        ...
57788   206     Anguilla      CONCACAF 2018-06-07
57789   206      Bahamas      CONCACAF 2018-06-07
57790   206      Eritrea           CAF 2018-06-07
57791   206      Somalia           CAF 2018-06-07
57792   206        Tonga           OFC 2018-06-07

[57756 rows x 4 columns]

# Fifa Results Dataset

In [88]:
results.head(5)

        date home_team away_team  ...     city   country neutral
0 1872-11-30  Scotland   England  ...  Glasgow  Scotland   False
1 1873-03-08   England  Scotland  ...   London   England   False
2 1874-03-07  Scotland   England  ...  Glasgow  Scotland   False
3 1875-03-06   England  Scotland  ...   London   England   False
4 1876-03-04  Scotland   England  ...  Glasgow  Scotland   False

[5 rows x 9 columns]

In [89]:
results = results[["date","home_team","away_team","home_score","away_score","tournament","country"]]
results

            date         home_team  ...              tournament   country
0     1872-11-30          Scotland  ...                Friendly  Scotland
1     1873-03-08           England  ...                Friendly   England
2     1874-03-07          Scotland  ...                Friendly  Scotland
3     1875-03-06           England  ...                Friendly   England
4     1876-03-04          Scotland  ...                Friendly  Scotland
...          ...               ...  ...                     ...       ...
40834 2019-07-18    American Samoa  ...           Pacific Games     Samoa
40835 2019-07-18              Fiji  ...           Pacific Games     Samoa
40836 2019-07-19           Senegal  ...  African Cup of Nations     Egypt
40837 2019-07-19        Tajikistan  ...    Intercontinental Cup     India
40838 2019-07-20  Papua New Guinea  ...           Pacific Games     Samoa

[40839 rows x 7 columns]

In [73]:
#checking for duplicates in the ranking column
results.duplicated().sum()

1

In [74]:
results['date'].describe()

count                   40839
unique                  15115
top       2012-02-29 00:00:00
freq                       66
first     1872-11-30 00:00:00
last      2019-07-20 00:00:00
Name: date, dtype: object

In [91]:
#dropping the row entries that happened before 1993 since they do not have corresponding records 
#in the ranking  dataframe.
results_1 = results
results_1 = results[results["date"] > '1993-01-01']
results_1.shape
#dropped 40839-23477 = 17362 row entries

(23477, 7)

In [99]:
dataset = results_1.merge(ranking_1, left_on = ['date', 'country'],
                        right_on = ['rank_date', 'country_full'], how = 'inner')
dataset.shape
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 950 entries, 0 to 949
Data columns (total 11 columns):
date             950 non-null datetime64[ns]
home_team        950 non-null object
away_team        950 non-null object
home_score       950 non-null int64
away_score       950 non-null int64
tournament       950 non-null object
country          950 non-null object
rank             950 non-null int64
country_full     950 non-null object
confederation    950 non-null object
rank_date        950 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(6)
memory usage: 89.1+ KB

## 4. External Data Source Validation

Making sure your data matches something outside of the dataset is very important. It allows you to ensure that the measurements are roughly in line with what they should be and it serves as a check on what other things might be wrong in your dataset. External validation can often be as simple as checking your data against a single number, as we will do here.

### a.Validation

## 5. Tidying the Dataset

In [0]:
# Checking for Outliers
#

In [0]:
# Checking for Anomalies
#

In [0]:
# Identifying the Missing Data
#

In [0]:
# Dealing with the Missing Data
#

In [0]:
# More data cleaning procedures
#

## 6. Exploratory Analysis

In [0]:
# Ploting the univariate summaries and recording our observations
#

## 7. Implementing the Solution

In [0]:
# Implementing the Solution
#

## 8. Challenging the solution

> The easy solution is nice because it is, well, easy, but you should never allow those results to hold the day. You should always be thinking of ways to challenge the results, especially if those results comport with your prior expectation.

In [0]:
# Reviewing the Solution 
#

## 9. Follow up questions

> At this point, we can refine our question or collect new data, all in an iterative process to get at the truth.

### a). Did we have the right data?

### b). Do we need other data to answer our question?

### c). Did we have the right question?